@{
    ViewBag.Title = "FindSimilar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model ImageSearchEngine.Controllers.HomeController.SimilarImageResult

@section style
{
<style type="text/css">
    .results
    {
        width:500px;
    }
    .results div
    {
        float: left;
    }
</style>
}
<h2>Find Similar Images</h2>
<a href="@Url.Action("Browse")">Go back to browse</a>

<div>
    Query took @Model.QueryTimeSeconds seconds.
    Query took @Model.QueryTimeMilliseconds ms.
</div>

<h3>Query Image</h3>
<br />
<img src="@Model.PathToQueryImage" />
<h3>Similar Images</h3>
<br />
<div class="results">
    @foreach (string img in Model.SimilarImages)
    {
    
        <div><img src="@img" /></div>
    }
    <div style="clear:both;"></div>
</div>